.gradle/
.idea/
.settings/
.vscode/
build/
run/
out/
bin/

*.iml
*.ipr
*.iws
.classpath
.project
.factorypath

addon.local.gradle
addon.local.gradle.kts
addon.late.local.gradle
addon.late.local.gradle.kts
